
<h2 style=" text-align: center" >    ---------------- ABOUT US  ------------------  </h2>
<div style="margin-top: 70px;">
<div class="container "><div class="row" style="text-align: justify;">
<div class="col-md-9">
<div style="position:absolute;top: -33px;right:10px; text-decoration: darkblue">


<p>YASH Technologies has a span history of growth and success. Founded in 1996, YASH started off as an IT consulting partner for one of the most recognized brands in the agricultural equipment manufacturing industry. With steady and planned growth, YASH’s vision went global in the year 2000, with introduction of offshore operations in Indore, India. Named as of one of the “Fast 500 companies”, YASH has grown organically through strategic acquisitions. We currently have over 4500 global employees, and growing.</p>
</div>
</div>
</div>
</div>